input::placeholder {
    font-style: italic;
}

#Elemento.mural {
    padding: 10px;
    color: rgb(236, 230, 230);
}
.mural {
    margin: 3px;
    border-radius: 4px;
    background-color: blue;
}
button {
    background-color: black;
    color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgb(90, 86, 86);
    transition: 0.3s;
}

button:hover {
    background-color: rgb(3, 3, 116);
    cursor: pointer;
    filter: brightness(1.9);
}
